Repository IsraelSantos/profile-test-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, test

Teste 12.
  src/main/java/br/uece/eesdevops/profilems/ProfileMsApplication.java
Labels: source

Criando pull request de comentario e atualizando o de criacao de labels.
  .github/workflows/commentpullrequest.yml
  .github/workflows/labelpullrequest.yml
  labeler-config.yml
Labels: repo

Teste 12.
  .github/workflows/commentpullrequest.yml
  .github/workflows/labelpullrequest.yml
Labels: none

Teste 13.
  .github/workflows/commentpullrequest.yml
Labels: none

Teste 14.
  .github/workflows/commentpullrequest.yml
  .github/workflows/labelpullrequest.yml
Labels: none

Teste 14.
  .github/workflows/labelpullrequest.yml
Labels: none

Teste 16.
  .github/workflows/commentpullrequest.yml
  .github/workflows/labelpullrequest.yml
Labels: none

Teste 18.
  .github/workflows/labelpullrequest.yml
Labels: none

Teste 19.
  .github/workflows/labelpullrequest.yml
Labels: none

Teste 20.
  .github/workflows/labelpullrequest.yml
Labels: none

Teste 21.
  .github/workflows/labelpullrequest.yml
Labels: none

Teste 22.
  .github/workflows/labelpullrequest.yml
Labels: none

Teste 23.
  .github/workflows/labelpullrequest.yml
Labels: none

Atualizando nomes.
  .github/workflows/labelpullrequest.yml
Labels: none

Teste 25.
  src/main/java/br/uece/eesdevops/profilems/ProfileMsApplication.java
Labels: source

.github/labeler.yml:

repo:
  - ./*
source:
  - any: ['src/**/*', '!src/docs/*']
test:
  - src/test/**/*
